@import "tailwindcss";

@theme {
  --color-void: #050505;
  --color-cluster: #fff;
  --font-grotesk: var(--font-sans), sans-serif;
  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@layer base {
  body {
    background-color: var(--color-void);
    color: var(--color-cluster);
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-void);
  }

  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-cluster);
  }
}
